.nav{
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
font-size: 5em;
color: white;
}
.nav_r{
    display: flex;
    color: white;
    align-items: center;
    margin-right: 10%;
}
.nav_r a{
    color: white;
    font-size: x-large;
    margin: 0% 5%;
}
.searchInputs{
    display: flex;
    align-items: center;
}

.about{
    color: white;
    font-size: x-large;
    width: 60vw;
    padding: 5%;
    min-height: 100vh;
}
.searchIcon{
    transform: translateX(-3em);
}