 body {
  display: flex;
  background: linear-gradient(90deg,rgba(3, 245, 245, 0.247), rgba(216, 12, 124, 0.288)), url("./img/cryptocurrencyimage.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.home {
color: aliceblue;
align-items: center;
text-align: center;
display: flex;
flex-direction: column;
overflow-x: hidden;
}

.news-feed {
 backdrop-filter: blur(10px);
 border: 4px solid purple;
 box-shadow: 0 3px 10px rgba(0 0 (0.2));
 padding: 10px;
 margin: 5px; 
 max-width: 50%;
 ;
 text-align: center;
 align-items: center;

}

.currency-converter {
  backdrop-filter: blur(10px);
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400%;
  height: 1000px;

}

.Exchange-Rate {
  background-color: green
}

button {
  border: none;
  float: right;
  margin: 2px; 
}

button:hover {
background-color: purple;
}

.app-wrapper {
 /* align-items:center;*/
  display: flex;
}